In [1]:
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (4.13.4)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (from requests) (2025.6.15)
Requirement already satisfied: soupsieve>1.2 in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\kiit0001\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (4.14.1)

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URLs to scrape SQL constraints & types
urls = [
    "https://www.w3schools.com/sql/sql_constraints.asp",
    "https://www.w3schools.com/sql/sql_primarykey.asp",
    "https://www.w3schools.com/sql/sql_foreignkey.asp",
    "https://www.w3schools.com/sql/sql_unique.asp",
    "https://www.w3schools.com/sql/sql_check.asp",
    "https://www.w3schools.com/sql/sql_default.asp"
]

constraints = []

for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    
    headings = soup.find_all('h2')
    examples = soup.find_all('div', class_='w3-example')
    
    for i, heading in enumerate(headings):
        title = heading.text.strip()
        desc_tag = heading.find_next_sibling('p')
        desc = desc_tag.text.strip() if desc_tag else ""
        
        try:
            example_sql = examples[i].find('div', class_='w3-code notranslate').text.strip()
        except:
            example_sql = ""
        
        constraints.append({
            "Constraint_Type": title,
            "Description": desc,
            "Example_SQL": example_sql
        })

df_base = pd.DataFrame(constraints)
df_base.to_csv("sql_constraints_base.csv", index=False)
print("✅ Base dataset created: sql_constraints_base.csv")

✅ Base dataset created: sql_constraints_base.csv

In [3]:
advanced_data = [
    {
        "Constraint_Type": "Composite Primary Key",
        "Description": "Primary key using multiple columns",
        "Example_SQL": "CREATE TABLE Orders (OrderID int, ProductID int, PRIMARY KEY (OrderID, ProductID));"
    },
    {
        "Constraint_Type": "ON DELETE CASCADE",
        "Description": "Deletes child rows when parent row is deleted",
        "Example_SQL": "CREATE TABLE Orders (OrderID int PRIMARY KEY, CustomerID int, FOREIGN KEY(CustomerID) REFERENCES Customers(CustomerID) ON DELETE CASCADE);"
    },
    {
        "Constraint_Type": "ON UPDATE CASCADE",
        "Description": "Updates child rows when parent row is updated",
        "Example_SQL": "CREATE TABLE Orders (OrderID int PRIMARY KEY, CustomerID int, FOREIGN KEY(CustomerID) REFERENCES Customers(CustomerID) ON UPDATE CASCADE);"
    },
    {
        "Constraint_Type": "Data Types",
        "Description": "VARCHAR, DECIMAL, DATE, BOOLEAN, TEXT",
        "Example_SQL": "CREATE TABLE Employees (EmpID int, Name VARCHAR(50), Salary DECIMAL(10,2), JoinDate DATE);"
    },
    {
        "Constraint_Type": "Edge Case: NULL value",
        "Description": "Column cannot accept NULL",
        "Example_SQL": "CREATE TABLE Students (ID int NOT NULL, Name VARCHAR(50));"
    },
    {
        "Constraint_Type": "Edge Case: Duplicate Entry",
        "Description": "Unique constraint prevents duplicate values",
        "Example_SQL": "CREATE TABLE Users (UserID int UNIQUE, Email VARCHAR(100));"
    },
    {
        "Constraint_Type": "Edge Case: Invalid Foreign Key",
        "Description": "Foreign key references non-existing parent value",
        "Example_SQL": "INSERT INTO Orders (OrderID, CustomerID) VALUES (1, 9999); -- invalid FK"
    },
    {
        "Constraint_Type": "Default Values",
        "Description": "Sets a default if no value is provided",
        "Example_SQL": "CREATE TABLE Products (ProductID int, Status VARCHAR(20) DEFAULT 'Available');"
    }
]

df_advanced = pd.DataFrame(advanced_data)

# Merge with base dataset
df_strong = pd.concat([df_base, df_advanced], ignore_index=True)
df_strong.to_csv("sql_constraints_strong.csv", index=False)
print("✅ Strong dataset created: sql_constraints_strong.csv")

✅ Strong dataset created: sql_constraints_strong.csv

In [4]:
# Map NLP to SQL query

nl_queries = [
    {"NL_Query": "Get all employees older than 30", 
     "SQL": "SELECT * FROM Employees WHERE Age > 30;"},
    {"NL_Query": "List all orders for customer 101", 
     "SQL": "SELECT * FROM Orders WHERE CustomerID = 101;"},
    {"NL_Query": "Show product names with default status 'Available'", 
     "SQL": "SELECT ProductID, Status FROM Products WHERE Status = 'Available';"},
    {"NL_Query": "Insert a new student with ID 1 and Name 'Rahi'", 
     "SQL": "INSERT INTO Students (ID, Name) VALUES (1, 'Rahi');"},
    {"NL_Query": "Delete all orders of customer 9999", 
     "SQL": "DELETE FROM Orders WHERE CustomerID = 9999;"}
]

df_nl = pd.DataFrame(nl_queries)
df_nl.to_csv("nl_to_sql_dataset.csv", index=False)
print("✅ Natural language dataset created: nl_to_sql_dataset.csv")

✅ Natural language dataset created: nl_to_sql_dataset.csv